<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-8">
      <form  [formGroup]="vmForm"  class="form-horizontal">
        <div class="card">
          <div class="card-header">
            <strong>Create</strong> Virtual Machine
          </div>
          <div class="card-body">

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="vmName">Virtual Machine Name</label>
                <div class="col-md-5">
                  <input type="text" id="vmName" name="vmName" formControlName="vmName" class="form-control" placeholder="Enter Virtual Machine Name...">

                </div>
              </div>
     <!--      <div class="form-group row">
                <label class="col-md-3 col-form-label" for="vmType">Virtual Machine Type (Vagrant Box)</label>
                <div class="col-md-5">
                  <select id="vmType" name="vmType" formControlName="vmType" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">ubuntu/focal64</option>
                    <option value="2">ubuntu/trusty64</option>
                    <option value="3">centos/7</option>
                  </select>
                </div>
              </div>-->

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="vmType">Virtual Machine Type (Vagrant Box)</label>
                <div class="col-md-5">
                  <select  id="vmType" name="vmType" formControlName="vmType"class="form-control">
                    <option value="0">Please select</option>
                    <option *ngFor="let aVmType of vmTypes" [ngValue]="aVmType" >
                    {{ aVmType }}
                    </option>
                  </select>
            </div>
          </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="vmIP">IP</label>
                <div class="col-md-2">
                  <input type="text" class="form-control" id="vmIP" formControlName="vmIP"  placeholder="000.000.000.000">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="vmCPU">CPU</label>
                <div class="col-md-1">
                  <select id="vmCPU" name="vmCPU" formControlName="vmCPU" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="vmMemory">Memory</label>
                <div class="col-md-2">
                  <select id="vmMemory" name="vmMemory" formControlName="vmMemory"  class="form-control">
                    <option value="512">512 MB</option>
                    <option value="1024">1024 MB</option>
                    <option value="2048">2048 MB</option>
                    <option value="4096">4096 MB</option>
                  </select>

                </div>

              </div>




          </div>
          <div class="card-footer">
            <button  class="btn btn-sm btn-primary" (click)="createVm()" ><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button  class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </div>
      </form>
    </div>

  </div><!--/.row-->

</div>
